.imagePlaceHolder > img{
    height: 400px !important;
}
.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 18px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  
  .btn-primary:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
  }

  i{
    color: rgba(58, 133, 191, 0.75);
  }