img {
    height: 200px !important;
    border: none;
}
.img-thumbnail{
    border: none;
}

.card{
    transition: all 0.2s;
    /* color: white; */
}

.card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.card-body{
    color:#2572C8;
}
/* .view {
    overflow: hidden;
  }

  .view>img {
    transition: all 0.5s;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
.view>img:hover {
    opacity: 0.9;
    transform: scale(1.1);
  } */